/* pc全局颜色 */

// mask 背景色
maskBgColor = rgba(0,0,0,0.4)
// 主题色
themeColor = #de3031
// 清主题色
lightThemeColor = #fdba78
// hover主题色
hoverColor = #e73e3b
// 文字主色
darkBlackText = #333
// 导航主题色
navText = #555
// 辅助列表主题色
listTextColor = #a2a2a2
// 辅助文字
grayText = rgba(171, 171, 171, 0.9)
// 辅助文字的主题色
gGrayText = rgba(102, 102, 102, 0.11)
// 常用白
white = #fff
// 图标色
picColor = #bbbbbb
// 边框色
lightBorder = #f5f5f5



/* 全局 z-index 分配 */
z-index_1 = 10
z-index_2 = 100
z-index_3 = 1000
z-index_4 = 10000
z-index_5 = 100000
z-index_6 = 1000000
z-index_7 = 10000000
z-index_8 = 100000000
guideBlackBg = rgba(0, 0, 0, 0.7)

/* 全局类 */
.font-overflow
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

